@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: aliceblue;
}

#form{
    
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    padding: 10px;
    border: 1px solid rgb(17, 66, 70);
    border-radius: 10px;
}
.header{
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    margin: 20px;
}
.input-control{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 30px;
}
input{
    width: 75%;
    padding: 10px;
}
button{
    background-color: rgb(74, 133, 167);
    padding: 12px;
    width: 50%;
    margin-top: 4px;
    margin-left: 25%;
    border-radius: 10px;
    border: none;
}